-var pageTitle = 'Products';
<!DOCTYPE html>
<html lang="en">

<head>
    <title>DohaBuilders - Cables, Wires & Other Electrical materials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    include includes/styles.pug

</head>

<body>

    <div class="container">
        <!-- Start Section Include -->
        <section class="include">
            <!-- Start Section Navbar -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        include includes/navbar.pug
                    </div>
                </div>
            </div>
            <!-- End Section Navbar -->

            <!-- Start breadcrumb -->
            <!--<div class="breadcrumb-holder">

                <div class="container">
                    <nav aria-label="breadcrumb">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="service.html">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Building Information Modeling “BIM” 19</a></li>

                        </ol>
                    </nav>
                </div>
            </div>-->
            <!-- End breadcrumb -->
            <!-- Start Section Carousel -->
             
            <!-- End Section Carousel -->
            <!-- Start Section Information About Services -->
             <section class="brands brands-nine  ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand barnd-one element-animate  ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/01.png"  >
                                </div>
                                <h3>Doha Cables</h3>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-two  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/02.png">
                                </div>
                                <h3>Nexans Cable </h3>
                                 
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-three  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/03.png">
                                </div>
                                <h3>Oman Cables </h3>
                                 
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand barnd-four element-animate  ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/04.png"  >
                                </div>
                                <h3>Rexton pvc pipes & fittings</h3>
                                 
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-five  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/05.png">
                                </div>
                                <h3>Al Waab plastic factory pipes & fittings</h3>
                                 
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-six  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/06.png">
                                </div>
                                <h3>KG pipes & fittings</h3>
                                 
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-seven element-animate  ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/07.png"  >
                                </div>
                                <h3>Flexible cable – Turkey</h3>
                                 
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-eight  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/08.png">
                                </div>
                                <h3>ABB (Panels, DBs, Breakers & Switches)</h3>
                                 
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-nine  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/9.png">
                                </div>
                                <h3>Schneider (Panels, DBs, Breakers & Switches)</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="content-brand brand-ten  element-animate ">
                                <div class="img-brand">
                                    <img src="images/cables-wires/10.png">
                                </div>
                                <h3>10-	Eaton (Panels, DBs & Breakers) - Romania</h3>
                                 
                            </div>
                        </div>
                         
                         
                    </div>
                </div>
            </section>
            <!-- End Section Information About Services -->
            <!-- Start Section Footer -->
            include includes/footer.pug
            <!-- End Section Footer -->
        </section>
        <!-- End Section Include -->
    </div>
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4267b2" /></svg></div>

    include includes/scripts.pug
</body>
