-var pageTitle = 'Products';
<!DOCTYPE html>
<html lang="en">

<head>
    <title>DohaBuilders - Copper Pipes & Fittings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    include includes/styles.pug

</head>

<body>

    <div class="container">
        <!-- Start Section Include -->
        <section class="include">
            <!-- Start Section Navbar -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        include includes/navbar.pug
                    </div>
                </div>
            </div>
            <!-- End Section Navbar -->

            <!-- Start breadcrumb -->
            <!--<div class="breadcrumb-holder">

                <div class="container">
                    <nav aria-label="breadcrumb">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="service.html">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Building Information Modeling “BIM” 19</a></li>

                        </ol>
                    </nav>
                </div>
            </div>-->
            <!-- End breadcrumb -->
            <!-- Start Section Information About Services -->
            <section class="brands brands-three  ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="content-brand barnd-one element-animate  ">
                                <div class="img-brand">
                                    <img src="images/Copper- Pipes/A.png"  >
                                </div>
                                <h3>Mueller - Make USA</h3>
                                <p>Streamline sets the standard for quality and cleanliness in the HVACR and plumbing industries. With a full line of both copper and plastic-coated copper tube for plumbing, air-conditioning, refrigeration, medical gas and other applications, our copper tube products are the preferred brand of industry professionals.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="content-brand brand-two  element-animate ">
                                <div class="img-brand">
                                    <img src="images/Copper- Pipes/B.png">
                                </div>
                                <h3>Totaline - Make Korea</h3>
                                <p>
                                    Totaline has a wide range of copper refrigeration, air-conditioning and medical gas tube that is manufactured in accordance with Australian Standard AS/NZS 1571 Copper – Seamless tubes for Air-conditioning and Refrigeration. 
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="content-brand brand-three  element-animate ">
                                <div class="img-brand">
                                    <img src="images/Copper- Pipes/C.png">
                                </div>
                                <h3>Pegler – Make UK</h3>
                                <p>Pegler Yorkshire is world’s best known plumbing and heating suppliers, our unrivalled list of market leading product brands include Yorkshire integral solder ring fittings, Terrier radiator valves, Tectite push fit fittings, Performa tap solutions, the XPress press fit system, Francis Pegler luxury taps, Pegler valves, Prestex general brassware, Endex solder ring and Kuterlite compression fittings.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="content-brand brand-four  element-animate ">
                                <div class="img-brand">
                                    <img src="images/Copper- Pipes/D.png">
                                </div>
                                <h3>Pex – Make UK</h3>
                                <p>From April 1993, when their first Gate Valves were delivered to customers in the Middle East, PEX range is being sold in over 40 countries worldwide, Plumbex UK have grown from strength to strength. They have developed a reputation as one of Britain's leading manufacturers of quality plumbing products, able to closely follow their customer's changing needs and market requirements. They have proven themselves to customers by offering the best in modern, efficient and professional service. PEX have started laying the groundwork for tomorrow with the introduction of ISO 9000 Quality Assurance Procedures and exciting new website and investment in new people, new products and new premises.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section Information About Services -->
            <!-- Start Section Footer -->
            include includes/footer.pug
            <!-- End Section Footer -->
        </section>
        <!-- End Section Include -->
    </div>
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4267b2" /></svg></div>

    include includes/scripts.pug
</body>
