-var pageTitle = 'Home';
<!DOCTYPE html>
<html lang="en">
<head>
    <title> DohaBuilders - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    include includes/styles.pug
</head>
<body>
    <div class="container">
        <!-- Start Section Include -->
        <section class="include">
            <!-- Start Section Navbar -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    
                        include includes/navbar.pug
                        
                    </div>
                </div>
            </div>

            <!-- End Section Navbar -->
            <!-- Start Slider -->
            <div class="container" id="slider">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselExampleIndicators" class="carousel slide slide-c element-animate" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <!-- Slide One - Set the background image for this slide in the line below -->
                                <div class="carousel-item animated zoomIn active" style="background-image: url('images/slider/slide1.png');animation-delay: .1s">
                                    <div class="carousel-caption ">
                                        
                                    </div>
                                </div>
                                <!-- Slide Two - Set the background image for this slide in the line below -->
                                <div class="carousel-item animated bounceInLeft" style="background-image: url('images/slider/slide2.png');animation-delay: .1s">
                                    <div class="carousel-caption  ">
                                        
                                    </div>
                                </div>
                                <!-- Slide Three - Set the background image for this slide in the line below -->
                                <div class="carousel-item animated bounceInUp" style="background-image: url('images/slider/slide3.png');animation-delay: .1s">
                                    <div class="carousel-caption  ">
                                         
                                    </div>
                                </div>
                                <!-- Slide Four - Set the background image for this slide in the line below -->
                                <div class="carousel-item animated bounceInRight" style="background-image: url('images/slider/slide4.png');animation-delay: .1s">
                                    <div class="carousel-caption  ">
                                        
                                    </div>
                                </div>
                                <!-- Slide Five - Set the background image for this slide in the line below -->
                                <div class="carousel-item animated bounceInDown" style="background-image: url('images/slider/slide5.png');animation-delay: .1s">
                                    <div class="carousel-caption  ">
                                        <div>
                                             
                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END slider -->
            <!-- Start Section information -->
            <!--<section class="section-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="div-info">
                                <h3> Welcome to Sustainability builders.</h3>

                                <p>
                                    Our mission is committed to the continuous improvement of electromechanical services; and endeavors to provide engineering solutions to set more sustainable and Comfortable buildings.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <!-- End Section information -->
            <!-- Start Section infromation about Company-->
            <section class="section-media">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 element-animate ">
                            <div class="div-media text-center bounce">
                                <div class="div-img"><img src="images/card1.jpg"></div>
                                <h4>Moi police college complex</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 element-animate ">
                            <div class="div-media text-center bounce">
                                <div class="div-img"><img src="images/Card2.jpeg"></div>
                                <h4>Al-Rayyan stadium</h4>
                                <!--<p>Sustainability builders Technology Produce The Best Service For All oF Companies and individuals.</p>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3  element-animate ">
                            <div class="div-media text-center bounce">
                                <div class="div-img"><img src="images/Card3.jpeg"></div>
                                <h4>LULU Mall Abu sidra</h4>
                                <!--<p>Sustainability builders Technology Identifies ideas that show potential and growth and make them come to implementation.</p>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3  element-animate ">
                            <div class="div-media text-center bounce">
                                <div class="div-img"><img src="images/Card4.jpeg" c></div>
                                <h4>Milaha Villa compound</h4>
                                <!--<p>Sustainability builders Technology Company support Agents With Best Service and Solving Problems.</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section infromation about Company-->
            <section class="section border-t pb-0 text-center">
                <div class="container">
                    <div class="row justify-content-center mb-5 element-animate">
                        <div class="col-md-8 text-center">
                            <h2 class=" heading mb-4">Our Latest Projects</h2>
                            <span class="span-media"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC01.jpeg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>MOI police college complex.</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC01.jpeg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC02.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Milaha Villa Compound.</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC02.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC03.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>88 Villa compound @ Dafna</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC03.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="btn-more element-animate">
                        <a href="projects.html"><button class="btn-media"> Show More </button></a>
                    </div>
                </div>
            </section>
            include includes/footer.pug
        </section>
        <!-- End Section Include -->
    </div>
    <!-- loader -->

    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4267b2" /></svg></div>

    include includes/scripts.pug

</body>

</html>