-var pageTitle = 'Products';
<!DOCTYPE html>
 <html lang="en">
    <head>
        <title> DohaBuilders - Products</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         include includes/styles.pug
    </head>

     <body>

         <div class="container">
             <!-- Start Section Include -->
             <section class="include">
                 <!-- Start Section Navbar -->
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                            include includes/navbar.pug
                         </div>
                     </div>
                 </div>
                 <!-- End Section Navbar -->

                 <!-- Start breadcrumb -->
                 <!--<div class="breadcrumb-holder">

                     <div class="container">
                         <nav aria-label="breadcrumb">

                             <ol class="breadcrumb">
                                 <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                 <li class="breadcrumb-item active" aria-current="page"><a href="#">Services</a></li>

                             </ol>
                         </nav>
                     </div>
                 </div>-->
                 <!-- End breadcrumb -->

                 <!-- Start Section Sevices -->
                 <section class="products text-center">
                    <div class="container">
                        <h2 class="head"> Our Products </h2>
                        <span class="span-product"> </span>
                        <div class="row">
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro1.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> PP-R Pipes & Fittings  </h4>
                                    <a href="pp-r-pipes.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate  ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro2.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> PVC Pipes & Fittings </h4>
                                    <a href="pvc-pipes.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro3.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Copper Pipes & Fittings </h4>
                                    <a href="copper-pipes.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro4.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Fire Fighting Pipes & Fittings </h4>
                                    <a href="fire-f-pipes.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro5.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Pipe Hanger </h4>
                                    <a href="pipe-hanger.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro6.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Fasteners & Supports </h4>
                                    <a href="fasteners-support.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro7.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Consumables & Adhesives</h4>
                                    <a href="consumables & adhesives.html">More Details</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro8.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Dampers, Louvers & Air Terminals </h4>
                                    <a href="dampers,-Louvers.html">More Details</a>
                                </div>
                            </div><div class="col-md-6 col-lg-4 element-animate ">
                                <div class="content-product">
                                    <div class="p-img">
                                        <img src="images/Products/pro9.jpeg" alt="Image" class="img-fluid ">
                                    </div>
                                    <h4> Cables, Wires & Other Electrical materials </h4>
                                    <a href="cable-wires.html">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </section>
                 <!-- End Section Services -->
                  include includes/footer.pug
             </section>
             <!-- End Section Include -->
         </div>
 
         <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                 <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                 <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4267b2" /></svg></div>

         include includes/scripts.pug
     </body>
 </html>