-var pageTitle = 'Project';
<!DOCTYPE html>
<html lang="en">

<head>
    <title> DohaBuilders - Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    include includes/styles.pug

</head>
<body>
    <div class="container">
        <!-- Start Section Include -->
        <section class="include">
            <!-- Start Section Navbar -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        include includes/navbar.pug
                    </div>
                </div>
            </div>
            <!-- End Section Navbar -->
            <!-- Start breadcrumb -->
            <!--<div class="breadcrumb-holder">

                <div class="container">
                    <nav aria-label="breadcrumb">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Projects</a></li>

                        </ol>
                    </nav>
                </div>
            </div>-->
            <!-- End breadcrumb -->
            <!-- Start Section Project -->
            <section class="section border-t pb-0">
                <div class="container">
                    <div class="row justify-content-center mb-5 element-animate">
                        <div class="col-md-8 text-center">
                            <h2 class=" heading mb-4">Our Latest Projects</h2>
                            <span class="span-media"></span>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-gutters gallery  ">
                        <div class="col-md-6 col-lg-4 element-animate">
                        
                            <a  href="images/Projects/PIC01.jpeg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>MOI police college complex.</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC01.jpeg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC02.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Milaha Villa Compound.</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC02.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC03.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>88 Villa compound @ Dafna</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC03.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC04.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>New students’ affairs building @ Qatar University</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC04.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC05.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Al Fazaa Headquarters</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC05.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC06.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>LULU Mall </h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC06.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC07.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>96 Villa (AL Majed villa compound)</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC07.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC08.jpeg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>FBA Hotel</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC08.jpeg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC09.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Internal Security Forces Camp @ Duhail</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC09.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC10.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Construction & Upgrade of Al Rayyan Road</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC10.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC11.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Luxurious Apartments in Lusail, Fox Hills</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC11.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 element-animate">
                            <a  href="images/Projects/PIC12.jpg" class="light link-thumbnail" data-lightbox="mygallery">
                                <h3>Abraj Quartier – The Pearl Qatar</h3>
                                <span class="ion-plus icon"></span>
                                <img src="images/Projects/PIC12.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <!--<div class="col-md-6 col-lg-4 element-animate">
                        <a href="other.html" class="link-thumbnail">
                        <h3>OTHER PROJECT </h3>
                        <span class="ion-plus icon"></span>
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                        </a>
                        </div>-->
                    </div>
                </div>
            </section>
            include includes/footer.pug
        </section>
    </div>
     
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4267b2" /></svg></div>

    include includes/scripts.pug

</body>

</html>