<!-- Start Section Footer -->
            <footer class="site-footer" role="contentinfo">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-4 mb-5">
                            <h3>About Us</h3>
                            <p class="mb-5">We're Doha Builders for Trading, Specialized in Electro-Mechanical . Products & services related to the building services industry
                                <br>
                                Our group specializes in providing the Engineering solution to our Client, we are proud to represent brands who are Industry leaders in The respectively product category</p>
                            <ul class="list-unstyled footer-link d-flex footer-social">
                                <li><a href="https://www.facebook.com/saminodahab" target="_blank" class="p-2"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 mb-5 pl-md-5">
                            <h3>Contact Info</h3>
                            <ul class="list-unstyled footer-link">
                                <li class="d-block">
                                    <span class="d-block">Address:</span>
                                    <span>Salwa Road - AL ghanim Al gadeed Signal - Building 101</span></li>
                                <li class="d-block"><span class="d-block">Mobile:</span><span>(+974) 30045469</span></li>
                                <li class="d-block"><span class="d-block">Mobile:</span> <span>(+974) 30004314</span></li>
                                <li class="d-block"><span class="d-block">Email:</span> <span>Sales@dohabuilders-qatar.com</span></li>
                                <li class="d-block"><span class="d-block">Email:</span> <span> Sameh@dohabuilders-qatar.com</span></li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-5">
                            <h3>Quick Links</h3>
                            <ul class="list-unstyled footer-link">
                                <li><a href="about.html">About</a></li>
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="product.html">Products</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-md-center text-left">
                        </div>
                    </div>
                </div>
                <!-- Start Div Scroll -->
                <div class="scroll-top">
                    <div>
                        <i class="fa fa-chevron-up fa-2x"> </i>
                    </div>
                </div>
                <!-- End Div Scroll -->
            </footer>
            <!-- End Section Footer -->